h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

#url {
    width: 50%;
    padding: 15px 20px;
    margin : 0;
}

.tablecontainer{
    width: 75%;
    margin: auto;
    padding: 2%
    box-sizing : border-box;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    display:block;
    background-color: #22222255;
}

th, td {
    padding: 12px 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #444;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #aaa;
}

tr:hover {
    background-color: #ccc;
    cursor: pointer;
}


